/*------------------------------------*\
    #SPLIT
\*------------------------------------*/

/**
 * The split object floats two elements away from each other.
 */

// Predefine the variables below in order to alter and enable specific features.
$inuit-split-namespace: $inuit-namespace !default;

.#{$inuit-split-namespace}o-split {
    text-align: right;
    list-style: none;
    margin-left: 0;
}

    .#{$inuit-split-namespace}o-split__title {
        text-align: left;
        float: left;
        clear: left;
    }
